*{margin: 
    0;}
body{background-color:lightsteelblue;}
.profiletext{color:black;}
img{height :180px;
     border-radius: 51%;}
.profile{ 
       padding: 30px 0; margin: 20;
    border-radius: 10%;}     
p{color:blue;}
#anji{color: white;}
